* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}
html {
    font-family: "D2Coding";
    font-weight: 400;
    font-size: 62.5%;
    background-color: #515151;

    /* 1rem =16px  ; 100%*/
    /* 1rem = 10px ; 62.5%*/
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}

input:focus {
    outline-style: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    html {
        font-size: 30%;
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    html {
        font-size: 40%;
    }
}
@media (min-width: 1280px) and (max-width: 1439px) {
    html {
        font-size: 50%;
    }
}
@media (min-width: 1440px) {
    html {
        font-size: 62.5%;
    }
}
@font-face {
    font-family: "D2Coding";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Youth";
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff") format("woff");
}
