name: Deploy to Back EC2 instance

on:
  push:
    branches:
      - main
    paths:
      - "back/**"

jobs:
  deploy:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: node
        uses: actions/setup-node@v3
        with:
          node-version: 18.15.0

      - name: Install dependencies
        working-directory: back
        run: |
          npm install
          echo -e $ENV > .env
        env:
          ENV: ${{ secrets.EC2_BACK_ENV }}

      - name: Install typescript & build
        working-directory: back
        run: |
          npm install -g typescript
          tsc

      - name: SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_BACK_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_BACK_PRIVATE_KEY }}
          source: "back/dist,back/node_modules,back/.env"
          target: "www"
          strip_components: 1
